{% extends 'layout.twig' %}{% block body %}
<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<div class="card-group">
  {% for clip in clips %}
  <div class="card" style="width: 18rem; padding: 30px;">
    <div class="card-body">
      <h5 class="card-title">{{ clip.message_id }}</h5>
      <p class="card-text">
        Submitted by <b>{{ clip.username }}</b
        ><br /><br />
        at {{ clip.createdAt }}
      </p>
      <a href="/upvote/{{ clip.id }}" class="btn btn-primary">Upvote</a>
      <a href="{{ clip.clip_url }}" target="_blank" class="btn btn-primary"
        >View Link</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
