{% extends 'layout.twig' %}{% block body %}
<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<ul>
  <li><a href="/logout">Logout</a></li>
</ul>
<div class="card-group">
  {% for clip in clips %}
  <div class="card" style="width: 18rem; padding: 30px;">
    <div class="card-body">
      <h5 class="card-title">
        {{ clip.clip_title }} - Upvotes: {{ clip.reactions }}
      </h5>
      <p class="card-text">
        Submitted by <b>{{ clip.username }}</b
        ><br /><br />
        at {{ clip.createdAt }}
      </p>
      <a href="/upvote/{{ clip.id }}" class="btn"
        ><img height="35px" width="35px" src="/images/arrow.png"
      /></a>
      <a href="{{ clip.clip_url }}" target="_blank" class="btn">View Clip</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
